.mat-button.mat-accent[disabled],
.mat-button.mat-primary[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled],
.mat-stroked-button.mat-accent[disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled][disabled],
.mat-button.mat-accent,
.mat-stroked-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-button.mat-primary {
  @include opensans-bold;

  height: 36px;
  font-size: 14px;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-transform: uppercase;
}


.mat-button.mat-primary {
  background: white;
  color: $blue-light;
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
